doctype html
html( lang="en" )
    head
        block title
            title Default title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        link(rel="stylesheet",href="/css/bootstrap.min.css")
        link(rel="stylesheet",href="/public/css/base.css")
        block extraStyles
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-5
                h5.text-white.mr-5
                    | Chat App!
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/chat')
                                | Chat 
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/incidencias') Incidencias
                        li.nav-item
                            a.nav-link(href='/listaIncidencias') Lista Incidencias
        .container
            block content
        script( src='/js/jquery.min.js')
        script( src='/js/popper.js')
        script( src='/js/bootstrap.min.js')
        script( src='/public/js/nav.js')
        block scripts