extends ./layouts/base.jade
block title
    title Welcome to the Chat!
block content
    h1 Welcome to the Chat!
    textarea#chat(name="chat", rows="18", cols="125")
    input#inData(type='text')
    input#send(type='button' value='enviar')

block scripts
    script( src='/public/js/script.js')