extends ./layouts/base.jade
block title
    title Incidencias
block content       
  form
  .mb-3
    label.form-label(for='nombre') Nombre
    input#nombre.form-control(type='text' name='nombre')
  .mb-3  
    label.form-label(for='dni') DNI
    input#dni.form-control(type='text' name='dni')
  .mb-3.form-group
    label.form-label(for='tipInc') Tipo de incidencia a elegir entre una lista
    select#tipInc.form-control(name='tipInc')
      option(value='baja') Bullying
      option(value='media') Trafico ilegal
    .mb-3.form-group
    label.form-label(for='urgencia') Urgencia
    select#urgencia.form-control(name='urgencia')
      option(value='baja') baja
      option(value='media') media
      option(value='alta') alta
    .mb-3
    label.form-label(for='descripcion') Descripción
    input#descripcion.form-control(type='text' name='descripcion')
    input(type='button' value='Enviar')