extends ./layouts/base.jade
block title
    title Incidencias
block content 
  table.table.table-striped
    thead.bg-dark
      tr.text-white
        th(scope='col') Tipo de incidencia
        th.text-right Reportar
    - incidencias = [{text: "Bullying", value: "bullying"},{text: "Trafico ilegal", value: "trafico"},{text: "Abuso de poder por parte de Mods", value: "mods"}]
    each val in incidencias
        tr
          td= val.text
          td.text-right 
            buttonbtn.btn.btn-primary Reportar

