doctype
html( lang="en" )
    head
        title Welcome to the Chat!
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(rel="stylesheet",href="/css/bootstrap.min.css")
    body(style="padding-bottom:10rem;")
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
                span
                    | Chat App!
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/chat')
                                | Chat 
                                span.sr-only (current)
                        li.nav-item.active
                            a.nav-link(href='/incidencias') Incidencias
                        li.nav-item
                            a.nav-link(href='/listaIncidencias') Lista Incidencias
        .container

            h1 Welcome to the Chat!
            textarea#chat(name="chat", rows="25", cols="125")
            input#inData(type='text')
            input#send(type='button' value='enviar')

        script( src='/js/jquery.min.js')
        script( src='/js/popper.js')
        script( src='/js/bootstrap.min.js')
        script( src='/public/js/script.js')