doctype
html( lang="en" )
    head
        title Welcome to the Chat!
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(rel="stylesheet",href="/css/bootstrap.min.css")
    body(style="padding-bottom:10rem;")
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
          span
            | Chat App!
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/chat')
                  | Chat 
                  span.sr-only (current)
              li.nav-item.active
                a.nav-link(href='/incidencias') Incidencias
              li.nav-item
                a.nav-link(href='/listaIncidencias') Lista Incidencias
      .container
        
        form
        .mb-3
          label.form-label(for='nombre') Nombre
          input#nombre.form-control(type='text' name='nombre')
        .mb-3  
          label.form-label(for='dni') DNI
          input#dni.form-control(type='text' name='dni')
        .mb-3
          label.form-label(for='tipInc') Tipo de incidencia a elegir entre una lista
          select#tipInc(name='tipInc')
            option(value='baja') Bullying
            option(value='media') Trafico ilegal
          .mb-3
          label.form-label(for='urgencia') Urgencia
          select#urgencia(name='urgencia')
            option(value='baja') baja
            option(value='media') media
            option(value='alta') alta
          .mb-3
          label.form-label(for='descripcion') Descripción
          input#descripcion.form-control(type='text' name='descripcion')
          input(type='button' value='Enviar')
      script( src='/js/jquery.min.js')
      script( src='/js/popper.js')
      script( src='/js/bootstrap.min.js')
      script( src='/public/js/script.js')